{{#if hasBlock}}
  {{yield this}}
{{else}}
  <form class="hypersearch" {{action "commit" on="submit"}}>
    {{hypersearch-input
        placeholder=placeholder
        update=(action "search")
        ondownarrow=(action "moveHighlightedResult" 1)
        onuparrow=(action "moveHighlightedResult" -1)
    }}
    <ul class="hypersearch-results">
      {{#each results as |result|}}
        <li class="hypersearch-result {{if result.isHighlighted 'highlight'}}">
          <span {{action "selectResult" result on="click"}}>
            {{#if resultKey}}
              {{get result resultKey}}
            {{else}}
              {{result}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  </form>
{{/if}}
